/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

nav {
  background-color: #4caf50;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  background-color: #45a049;
}

.mailbox-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.mailbox-container {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  width: 150px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mailbox-container a {
  text-decoration: none;
  color: #333;
}

.mailbox-details {
  margin: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 600px) {
  .mailbox-list {
    flex-direction: column;
    align-items: center;
  }

  .mailbox-container {
    width: 90%; /* Take most of the width on smaller screens */
  }
}
